.app-list {
    margin-top: 50px;
}

.app-list .list-group-item {
    padding: 20px 20px 10px 35px;
}

@media only screen and (max-width: 575px) {
    .app-list .list-group-item {
        padding: 20px 0 20px 20px;
    }
}